<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    
</head>
<body>
    <%- include("partials/header.ejs") %>

    <ul class="nav nav-underline justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Personal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Professional</a>
        </li>
    </ul>

    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group">
            <% tasks.forEach(function(task) { %>
                <label class="list-group-item d-flex gap-3">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
                    <span class="pt-1 form-checked-content">
                        <strong><%= task.title %></strong>
                        <small class="d-block text-body-secondary">
                            <%= task.time %>
                        </small>
                    </span>
                </label>
            <% }); %>

            <!-- Form to add new task -->
            <form action="/addTask" method="POST">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add new task..." aria-label="New task" aria-describedby="button-addon2" name="newTaskTitle">
                    <input type="text" class="form-control" placeholder="Choose time..." aria-label="Time" aria-describedby="button-addon2" name="newTaskTime">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add Task</button>
                </div>
            </form>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>
    <script>
        // JavaScript code to handle adding and removing todo items will go here
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>